<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Panimalay</title>
    <link rel="shortcut icon" type="image/png" href="{{url_for('static',filename='panimalay-196x196.png')}}">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  </head>

<style>
body {
  background-color: #94B0B7;
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
  font-size: 1.7rem;
}
.form-control {
    padding: 0 18px 3px;
    border: 1px solid #dbe2e8;
    border-radius: 5px;
    font-size: 17px;
}
.form-group label {
    padding-left: 18px;
    font-size: 15px;
    font-weight: 500;
}
.user-thumb img {
    height: 88px;
    width: 88px;
    border-radius: 50%;
}
</style>
<!--End of style-->

<body>
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<nav class="navbar navbar-dark">
    <div class="container">
        <a href="#" class="navbar-brand" style="font-family: Arial, Helvetica, sans-serif; font-size: 23px;"><strong><img src="{{url_for('static', filename = 'panimalay-114x114.png')}}" style="margin-left: -50%;">P A N I M A L A Y</strong></a>		
        <ul class="navbar-nav" style="margin-right: -10%;">
            <a href="adminlogin" class="nav-link" style="font-size: 18px;">Logout <i class="fa fa-sign-out"></i></a>
        </ul>
    </div>
</nav>
<!--End of navbar-->

<div class="container padding-bottom-3x mb-2">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
            <h2>Change your password?</h2>
            <p>Change your password in three easy steps. This helps to keep your new password secure.</p>
            <form class="card mt-4">
                
                <div class="card-body">
                    <div class="user-thumb" style="text-align: center; margin-bottom: 7%;">
                        <img src="{{url_for('static', filename = 'mersan.jpg')}}">
                    </div>
                    <div class="form-group">
                        <label for="current-for-pass">Enter your current password</label>
                        <input class="form-control" type="text" name="current-for-pass" id="current-for-pass" required="1" value="">
                        <label for="new-for-pass">Enter your new password</label>
                        <input class="form-control" type="text" name="new-for-pass" id="new-for-pass" required="1" value="">
                        <label for="question-for-pass">Secret Question:</label>
                            <select class="custom-select mr-sm-2" id="question-for-pass" name="question-for-pass">
                                <option disabled selected>Select Secret Question</option>
                                <option value="musicianSurname">Your favorite musician's surname</option>
                                <option value="Street">The street you grew up on</option>
                                <option value="favArtist">Your favorite actor or actress</option>
                                <option value="dateBirth">Your grandmother's date of birth</option>
                                <option value="Brand">The brand of your first car</option>
                                <option value="teachersSurname">Your favorite teacher's surname</option>
                                <option value="Book">Your favorite childhood book</option>
                                <option value="Game">Your favorite computer game</option>
                            </select>
                            <small class="form-text text-muted">We use this to help identify you as the admin.</small>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn" type="submit" style="background-color: #4A707A; color: white;">Save</button>
                </div>
            </form>
            <div class="float-right" style="margin-top: 2%;">
                <a href="{{url_for('adminDashboard')}}"><button class="btn" type="submit" style="background-color: #C2C8C5; color: black;"><i class="fa fa-arrow-left" style="margin-right: 5%;"></i>Go back to dashboard</button></a>
            </div>
        </div>
    </div>
</div>
<!--End of change of password-->
</body>
</html>
