<!DOCTYPE html>
<html lang="en">
<head>
    <title>Panimalay</title>
    <link rel="shortcut icon" type="image/png" href="{{url_for('static',filename='panimalay-196x196.png')}}">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</head>

<!--CSS-->
<style>
body {
background-image: url("{{url_for('static', filename = 'signupbg.jpg')}}");
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100% 100%;
}
.card {
background-color: white;
background-clip: border-box;
border: 1px solid #e5e9f2;
border-radius: .2rem;
}
.form-control {
    border: 1px solid #e1e1e1;
}

.input-group-text {
    padding: .5rem 1rem;
    background-color: #fff;
    border: 1px solid #e1e1e1;
}
.field-icon {
    float: left;
    margin-top: 2%;
    margin-right: 2%;
    margin-left: -5%;
}
input:invalid {
color: red;
}
input:not(:invalid) {
color: green;
}
</style>
<body>
<header>
    <nav class="navbar" style="height: 50px;">
        <ul><a class="navbar-brand" href="/" style="color: white;font-size:20; font-family: Arial, Helvetica, sans-serif;"><strong><h2><img src="{{url_for('static', filename = 'panimalay-114x114.png')}}">P A N I M A L A Y</h2></strong></a></ul>
    </nav> 
</header> 

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
            <br><br><br><br><br><br>
            <div class="card">
                <div class="text-center mt-4">
                    <h1 class="h2">Forgot password</h1>
                    <p class="lead">Select a way to recover account.</p>
                </div>
                <div class="card-body">
                    <div class="m-sm-4">
                    <form id="sendCodeForm" name="sendCodeForm" action="http://127.0.0.1:5000/forgot/password/send/code" method="POST">
                    <div class="form-group">
                        <select class="custom-select mr-sm-2" id="emailOrPhoneNumber" name="emailOrPhoneNumber" style="margin-bottom: 3%;">
                            <option value="email">Send via email</option>
                            <option value="sms">Send via sms</option>
                        </select>
                        <label id="labelForContact" name="labelForContact" for="contact">Please enter your email:</label>
                        <input class="form-control" id="contact" name="contact" type="text" required>
                    </div>
                    <div class="text-center mt-3">
                        <button class="btn btn-success" type="submit">Send Code</button>
                        <p style="margin-top: 3%;">Or go back to <a href="{{url_for('signin')}}">signin.</a></p>
                    </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script>
    $(document).ready(function(){
        $('#emailOrPhoneNumber').on('change',function(){
        if ($('#emailOrPhoneNumber option:selected').val()==="email"){
        $("#contact").prop('type', 'email');
        $("#labelForContact").text('Please enter your email:');
        $("#contact").removeAttr('maxlength');
        $("#contact").removeAttr('pattern');


        }
        else{
            $("#contact").prop('type', 'tel');
            $("#contact").prop('pattern', '[0-9]{11}');
            $("#labelForContact").text('Please enter your phone number:');
            $("#contact").prop('maxlength', "11");
        }

        
        })
        
        $("sendCodeForm").on("submit",function(e){
            e.preventDefault();
            if ($("#contact").isValid()===false){
            alert("Invalid Input");
            } 
            else{
                e.currentTarget.submit();
            }

        }) 
       

    })
</script>
</html>