<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Panimalay</title>
    <link rel="shortcut icon" type="image/png" href="{{url_for('static',filename='panimalay-196x196.png')}}">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</head>

<style>
    body {
        background-color: #94B0B7;
    }

    .navbar-dark .navbar-nav .nav-link {
        color: white;
        font-size: 1.7rem;
    }

    /* User Cards */
    .user-box {
        width: 110px;
        margin: auto;
    }

    .user-box img {
        width: 100%;
        border-radius: 50%;
        padding: 3px;
        background: #fff;
    }

    .profile .user-box {
        margin-bottom: 10px;
        margin-top: 15px;
    }

    .profile .list-icon {
        display: table-cell;
        font-size: 30px;
        padding-right: 20px;
        color: #223035;
    }

    .profile .list-details {
        display: table-cell;
        vertical-align: middle;
        font-weight: 600;
        color: #223035;
        font-size: 15px;
        line-height: 15px;
    }

    .profile .list-details small {
        display: table-cell;
        font-size: 12px;
        font-weight: 400;
        color: #808080;
    }

    .nav-pills .nav-link {
        border-radius: .25rem;
        color: #223035;
        font-size: 12px;
        text-align: center;
        letter-spacing: 1px;
        font-weight: 600;
        text-transform: uppercase;
        margin: 3px;
        padding: 12px 20px;
    }

    .nav-pills .nav-link:hover {
        background-color: #f4f5fa;
    }

    .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link {
        color: white;
        background-color: #008cff;
    }

    .field-icon {
        float: right;
        margin-top: -25px;
        margin-right: 2%;
    }
</style>
<!--End of style-->

<body>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <nav class="navbar navbar-dark">
        <div class="container">
            <a href="#" class="navbar-brand"
                style="font-family: Arial, Helvetica, sans-serif; font-size: 23px;"><strong><img
                        src="{{url_for('static', filename = 'panimalay-114x114.png')}}" style="margin-left: -50%;">P A N
                    I M A L A Y</strong></a>
            <ul class="navbar-nav" style="margin-right: -10%;">
                <a href="{{url_for('logout')}}" class="nav-link" style="font-size: 18px;">Logout <i
                        class="fa fa-sign-out"></i></a>
            </ul>
        </div>
    </nav>
    <!--End of navbar-->

    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <!--profile card-->
                <div class="profile">
                    <div class="card" style="width: 360px;">
                        <div class="card-body text-center rounded-top" style="background-color: #4A707A;">
                            <div class="user-box">
                                <img src="{{url_for('static', filename = 'mersan.jpg')}}" alt="user avatar">
                            </div>
                            <h5 class="mb-1 text-white">Mersan Canonigo</h5>
                            <h6 class="text-light">@{{data.1}}</h6>
                        </div>
                        <div class="card-body">
                            <ul class="list-group shadow-none">
                                <li class="list-group-item">
                                    <div class="list-icon">
                                        <i class="fa fa-phone-square"></i>
                                    </div>
                                    <div class="list-details">
                                        <span>{{data.9}}</span>
                                        <small>Phone Number</small>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="list-icon">
                                        <i class="fa fa-envelope"></i>
                                    </div>
                                    <div class="list-details">
                                        <span>{{data.8}} <i class="fa fa-check-circle" style="color: blue;"></i></span>
                                        <small>Email Address</small>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--End of profile card-->
            </div>
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <!--Tab pills-->
                        <ul class="nav nav-pills nav-justified">
                            <li class="nav-item">
                                <a href="#" data-target="#editprofile" data-toggle="pill"
                                    class="nav-link active show">Click to Update Profile Information</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" data-target="#editpassword" data-toggle="pill" class="nav-link">Click to
                                    Update Password</a>
                            </li>
                        </ul>
                        <!--End of tab pills-->
                        <div class="tab-content p-3">
                            <!--Tab for edit profile-->
                            <div class="tab-pane active show" id="editprofile" name="editprofile">
                                <form action="{{url_for('updateProfileAndContact')}}" method="POST">
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">First name</label>
                                        <div class="col-lg-9">
                                            <input class="form-control" type="text" id="firstName" name="firstName"
                                                value="{{data.4}}" required="1">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Last name</label>
                                        <div class="col-lg-9">
                                            <input class="form-control" type="text" id="lastName" name="lastName"
                                                value="{{data.5}}" required="1">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Gender</label>
                                        <div class="col-lg-9">
                                            <select class="custom-select mr-sm-2" id="gender" name="gender">
                                                <option disabled>Gender</option>
                                                {% if data.7=='F' %}
                                                <option value="M">Male</option>
                                                <option value="F" selected>Female</option>
                                                {% else %}
                                                <option value="M" selected>Male</option>
                                                <option value="F">Female</option>
                                                {% endif %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Account Type</label>
                                        <div class="col-lg-9">
                                            <select class="custom-select mr-sm-2" id="accountType" name="accountType"
                                                disabled>
                                                <option disabled>Account type</option>
                                                {% if data.3=='R' %}
                                                <option value="R" selected>Renter</option>
                                                <option value="O">Owner</option>
                                                {% else %}
                                                <option value="R">Renter</option>
                                                <option value="O" selected>Owner</option>
                                                {% endif %}

                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Date of Birth</label>
                                        <div class="col-lg-9">
                                            <input class="form-control" type="date" id="birthDate" name="birthDate"
                                                value="{{data.6}}" required="1">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Phone Number</label>
                                        <div class="col-lg-9">
                                            <input class="form-control" type="text" id="phoneNo" name="phoneNo"
                                                value="{{data.9}}" required="1">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Email Address</label>
                                        <div class="col-lg-9">
                                            <input class="form-control" type="email" id="email" name="email"
                                                value="{{data.8}}" required="1">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Change profile</label>
                                        <div class="col-lg-9">
                                            <input class="form-control" type="file">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label"></label>
                                        <div class="col-lg-9">
                                            <input type="submit" class="btn btn-primary" value="Save Changes">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!--End of tab for edit profile-->

                            <!--Tab for edit password-->
                            <div class="tab-pane" id="editpassword">
                                <form action="{{url_for('changePassword')}}" method="POST">
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Current
                                            Password</label>
                                        <div class="col-lg-9">
                                            <input class="form-control" type="password" id="oldPass" name="oldPass"
                                                placeholder="Enter Old Password" required="1"><span toggle="#oldPass"
                                                class="fa fa-eye field-icon toggle-firstname"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">New password</label>
                                        <div class="col-lg-9">
                                            <input class="form-control" type="password" id="newPass" name="newPass"
                                                value="" placeholder="Enter New Password" required="1"><span
                                                toggle="#newPass" class="fa fa-eye field-icon toggle-firstname"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label"></label>
                                        <div class="col-lg-9">
                                            <input type="submit" class="btn btn-primary" value="Save Changes">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!--End of tab for edit password-->
                        </div>
                    </div>
                </div>
                <div class="float-right" style="margin-top: 2%;">
                    <a href="{{url_for('dashboard')}}"><button class="btn" type="submit"
                            style="background-color: #C2C8C5; color: black;"><i class="fa fa-arrow-left"
                                style="margin-right: 5%;"></i>Go back to dashboard</button></a>
                </div>
            </div>
        </div>
    </div>
    <!--Toggle script-->
    <script>
        $(".toggle-firstname").click(function () {

            $(this).toggleClass("fa-eye fa-eye-slash");
            var input = $($(this).attr("toggle"));
            if (input.attr("type") == "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });
    </script>
    <!--Toggle script-->
</body>

</html>