<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Panimalay</title>
    <link rel="shortcut icon" type="image/png" href="{{url_for('static',filename='panimalay-196x196.png')}}">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  </head>

<style>
body {
background-color: #94B0B7;
}
.navbar-dark .navbar-nav .nav-link {
color: white;
font-size: 1.7rem;
}
.avatar {
    height: 40px;
    border-radius: 50%;
}
.text-fade {
    color: rgba(77,82,89,0.7) !important;
}
.flexbox {
    display: flex;
    justify-content: space-between;
}
.card-footer {
    background-color: white;
    border-top: 1px solid rgba(77, 82, 89, 0.07);
    color: #8b95a5;
    padding: 10px 20px
}
</style>
<!--End of style-->

<body>
<!--Navbar-->
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<nav class="navbar navbar-dark">
<div class="container">
    <a href="#" class="navbar-brand" style="font-family: Arial, Helvetica, sans-serif; font-size: 23px;"><strong><img src="{{url_for('static', filename = 'panimalay-114x114.png')}}" style="margin-left: -50%;">P A N I M A L A Y</strong></a>		
    <ul class="navbar-nav" style="margin-right: -10%;">
        <a href="adminlogin" class="nav-link" style="font-size: 18px;">Logout <i class="fa fa-sign-out"></i></a>
    </ul>
</div>
</nav>
<!--End of navbar-->

<!--Dashboard-->
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<div id="page-wrapper" class="container">
  <div class="row">
  <div class="col-lg-12">
    <ol class="breadcrumb">
      <li class="active"><i class="fa fa-dashboard"></i> Reservations</li>
    </ol>
  </div>
</div>
</div>
<!--End of dashboard-->

<!--Requests of reservation-->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<br>
<div class="container">
<div class="col-md-12">
    <div class="card b-1 mb-20">
        <div class="media card-body" style="padding: 1.25rem;">
            <div class="media-left" style="padding-right: 12px !important;">
                <img class="avatar" src="{{url_for('static', filename = 'mersan.jpg')}}">
            </div>
            <div class="media-body">
                <div class="mb-2">
                    <span class="pr-16" style="font-size: 20px !important;">Mersan Canonigo</span>
                </div>
            </div>
            <div class="media-right text-right d-none d-md-block">
                <p class="text-fade" style="font-size: 14px !important; margin-bottom: 12px !important;"><i class="fa fa-user pr-1"></i> mersancanonigo</p>
                <span class="text-fade"><i class="fa fa-phone pr-1"></i> 09675188574</span>
            </div>
        </div>
        <footer class="card-footer flexbox align-items-center">
            <div>
                <strong>Reservation request:</strong>
                <span>August 28, 2021</span>
            </div>
            <div class="card-hover-show">
                <a class="btn btn-xs btn-bold btn-primary" href="#" data-toggle="modal" data-target="#modal-contact">Confirm</a>
                <a class="btn btn-xs btn-bold btn-danger" href="#">Decline</a>
            </div>
        </footer>
    </div>
    <div class="float-right" style="margin-top: 2%;">
        <a href="ownerdashboard"><button class="btn" type="submit" style="background-color: #C2C8C5; color: black;"><i class="fa fa-arrow-left" style="margin-right: 5%;"></i>Go back to dashboard</button></a>
    </div> 
</div>
</div>
<!--End of requests of reservation-->

</body>
</html>