<!DOCTYPE html>
<html lang="en">

<head>
    <title>Panimalay</title>
    <link rel="shortcut icon" type="image/png" href="{{url_for('static',filename='panimalay-196x196.png')}}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript"
        src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=Ebxnet59cV6vtm8R_0mifXHaX2oFZIqC-nxfyzCboeYaUlXm6N1vYb4CvszHrS-fJSUu7Bx3IWzJks7_zkMzgj-k_tdzV8s_GYqHYusNuDvGT5dQa6iudI3fCAMnXIkVqJK3yDvDlm5UMt7gCicAcR0wUVrd23FXECSPulCm_r8"
        charset="UTF-8"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>

<style>
body {
    color: #566787;
    background-color: #94B0B7;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-size: 1.7rem;
}

.search-form {
    width: 80%;
    margin: 0 auto;
}

.search-form input {
    border: 0;
    padding: 1rem;
    height: 100%;
}

.search-form button {
    height: 100%;
    width: 100%;
    font-size: 1rem;
}

.table-wrapper {
    background: white;
    padding: 20px 25px;
    border-radius: 3px;
    min-width: 1000px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.table-title {
    background: #4A707A;
    color: white;
    padding: 16px 30px;
    margin: -20px -25px 10px;
    border-radius: 3px 3px 0 0;
}

.table-title h2 {
    margin: 5px 0 0;
    font-size: 24px;
}

table.table tr th,
table.table tr td {
    border-color: #e9e9e9;
    padding: 12px 15px;
    vertical-align: middle;
}

table.table tr th:first-child {
    width: 80px;
}

table.table tr th:last-child {
    width: 200px;
}

table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fcfcfc;
}

table.table-striped.table-hover tbody tr:hover {
    background: #f5f5f5;
}

table.table td:last-child i {
    opacity: 0.9;
    font-size: 22px;
    margin: 0 5px;
}

table.table td a.edit {
    color: blue;
}

table.table td a.delete {
    color: red;
}

.table-title .btn {
    color: white;
    float: right;
    font-size: 13px;
    border-radius: 2px;
}

.table-title .btn i {
    float: left;
    font-size: 21px;
    margin-right: 5px;
}

.table-title .btn span {
    float: left;
    margin-top: 2px;
}
</style>
<!--End of style-->

<body>
    <!--Navbar-->
    <nav class="navbar navbar-dark">
        <div class="container">
            <a href="#" class="navbar-brand"
                style="font-family: Arial, Helvetica, sans-serif; font-size: 23px;"><strong><img
                        src="{{url_for('static', filename = 'panimalay-114x114.png')}}" style="margin-left: -50%;">P A N
                    I M A L A Y</strong></a>
            <ul class="navbar-nav" style="margin-right: -10%;">
                <a href="{{url_for('logout')}}" class="nav-link" style="font-size: 18px;">Logout <i
                        class="fa fa-sign-out"></i></a>
            </ul>
        </div>
    </nav>
    <!--End of navbar-->

    <!--Search form-->
    <div class="container" style="margin-bottom: 1%;">
        <div class="row">
            <div class="col-lg-12 card-margin">
                <div class="card search-form">
                    <div class="card-body p-0">
                        <form id="search-form">
                            <div class="row">
                                <div class="col">
                                    <div class="row no-gutters">
                                        <div class="col">
                                            <input type="text" placeholder="Search..." class="form-control" id="search"
                                                name="search">
                                        </div>
                                        <div class="col-lg-1 col-md-3 col-sm-12 p-0">
                                            <button type="submit" class="btn btn-base">
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End of search form-->
    <div class="container-xl">
        <button id="buttonForTenants" name="buttonForTenants" class="btn btn-primary float-right" style="background-color: #4A707A;border-color: white;color:white;margin-bottom: -1%;margin-left: 1%;">Tenants</button>
        <button id="buttonForReservations" name="buttonForReservations" class="btn btn-primary float-right" style=" background-color: #4A707A;border-color: white;color:white;margin-bottom: -1%;margin-left: 1%;">Reservations</button>
        <button id="buttonForLeaveRequests" name="buttonForLeaveRequests" class="btn btn-primary float-right" style="background-color: #4A707A;border-color: white;color:white;margin-bottom: -1%;margin-left: 1%;">Leave Request</button>
    </div>
    <!--Table-->
    <div class="container-xl" id="listOfTenantsTableContainer" name="listOfTenantsTableContainer">
        <div style="margin-left: 2%;">
       
        </div>
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>List of <b>Tenants</b></h2>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Rented Unit</th>
                            <th>Renter</th>
                            <th>Gender</th>
                            <th>Phone Number</th>
                            <th>Rent</th>
                            <th>Date Rented</th>

                        </tr>
                    </thead>
                    <tbody>
                        {%for renter in activeRenterList%}
                        <tr>
                            <td>{{renter.1}}</td>
                            <td>{{renter.12}}</td>
                            <td>{{renter.5}}</td>
                            <td>{{renter.16}}</td>
                            <td>{{renter.3}}</td>
                            <td>{{renter.8}}</td>
                        </tr>
                        {% endfor %}
                       
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
    <!--End of table-->
    <!--Table-->
    <div class="container-xl" id="listOfReservationTableContainer" name="listOfReservationTableContainer">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>List of <b>Reservations</b></h2>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Unit No.</th>
                            <th>Reservation Date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for reservation in reservationList %}
                        <tr>
                            <td><a href="#">{{reservation.9}}</a></td>
                            <td>{{reservation.1}}</td>
                            <td>{{reservation.11}}</td>
                            <td><button class="btn btn-success" data-toggle="modal" data-target="#confirmReservationModal{{reservation.8}}">Confirm</button><a  href="http://127.0.0.1:5000/decline/rent/request/{{reservation.8}}" class="btn btn-danger" style="margin-left: 3%;">Decline</a></td>
                        </tr>
                        
                    </tbody>
               
                <!-- Modal -->
                <div class="modal fade" id="confirmReservationModal{{reservation.8}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top: 10%;">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Accept Rent Request</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <form action="http://127.0.0.1:5000/accept/rent/request/{{reservation.8}}/{{reservation.10}}/{{reservation.1}}" method="POST">
                            <!--<div class="input-group mb-3">
                                <div class="form-group">
                                  <span class="form-group">Password</span>
                                <input class="form-control" id="passwordForReservation{{reservation.8}}" name="passwordForReservation{{reservation.8}}" type="password" placeholder="Enter Password" style="padding-right: 45%;">
                                </div>
                            </div>-->
                            <input type="password" class="form-control" id="passwordForReservation{{reservation.8}}" name="passwordForReservation{{reservation.8}}" placeholder="Please enter your password">
                            <br><input type="checkbox" id="showPassword{{reservation.8}}" name="showPassword{{reservation.8}}" onclick="myFunction('showPassword{{reservation.8}}','passwordForReservation{{reservation.8}}')"> Show Password
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Proceed</button>
                            </div>
                          </form>
                        </div>
                
                      </div>
                    </div>
                  </div>
                {% endfor%}
                <input type="hidden" value="{{accountInfo.2}}" id="password" name="password">
            </table>
            </div>
        </div>
       
    </div>
    <!--End of Table-->
    <!--Table-->
    <div class="container-xl" id="listOfLeaveRequestTableContainer" name="listOfLeaveRequestTableContainer">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>List of <b>Leave Requests</b></h2>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>z
                        <tr>
                            <th>Unit No.</th>
                            <th>Username</th>
                            <th>Request Date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for requestLeave in renterRequestLeaveList%}
                        <tr>
                            <td>{{requestLeave.0}}</td>
                            <td><a href="#">{{requestLeave.12}}</a></td>
                            <td>{{requestLeave.9}}</td>
                            <td><button class="btn btn-success" data-toggle="modal" data-target="#confirmLeaveRequestModal{{requestLeave.8}}">Confirm</button><a href="http://127.0.0.1:5000/decline/leave/request/{{requestLeave.8}}" class="btn btn-danger" style="margin-left: 3%;">Decline</a></td>
                        </tr>
                        
                    </tbody>
                    
                <!-- Modal -->
                <div class="modal fade" id="confirmLeaveRequestModal{{requestLeave.8}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top: 10%;">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Accept Leave Request</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <form action="http://127.0.0.1:5000/confirm/leave/request/{{requestLeave.8}}" method="POST">
                
                            <input type="password" class="form-control" id="passwordForRequest{{requestLeave.8}}" name="passwordForRequest{{requestLeave.8}}" placeholder="Please enter your password">
                            <br><input type="checkbox" id="showPassword{{requestLeave.8}}" name="showPassword{{requestLeave.8}}" onclick="myFunction('showPassword{{requestLeave.8}}','passwordForRequest{{requestLeave.8}}')"> Show Password
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Proceed</button>
                            </div>
                          </form>
                        </div>
                
                      </div>
                    </div>
                  </div>
                  
                {% endfor%}
                </table>
            </div>
        </div>
       
    </div>
    <!--End of Table-->
    <div class="container-xl">
        <div class="float-right" style="margin-top: 2%;">
            <a href="{{url_for('dashboard')}}"><button class="btn" type="submit"
                    style="background-color: #C2C8C5; color: black; width: 220px;"><i class="fa fa-arrow-left"
                        style="margin-right: 5%;"></i>Go back to dashboard</button></a>
        </div>
    </div>
    <!--End of table-->

</body>
<script>
    $('#acceptReservationForm').on('submit',function(e){
        e.preventDefault();
        var pass1 = $('#password').val();
        var pass2 = $("#acceptReservationForm").find('input:first').val();
        if (pass!==pass2){
            alert("Invalid Password!");
        }
        else{
            $('#acceptReservationForm').submit();
        }

    })
</script>


<script>
    $(document).ready(function(){
        $("#listOfLeaveRequestTableContainer").hide();
        $("#listOfReservationTableContainer").hide();
        $("#listOfTenantsTableContainer").show();

        
        $("#buttonForTenants").css('background-color', 'white');
        $("#buttonForTenants").css('color', '#4A707A');

        $("#buttonForReservations").click(function(){
            $("#listOfReservationTableContainer").show();
            $("#listOfTenantsTableContainer").hide();
            $("#listOfLeaveRequestTableContainer").hide();
            $(this).css('background-color', 'white');
            $(this).css('color', '#4A707A');
            $("#buttonForTenants").css('background-color', '#4A707A');
            $("#buttonForTenants").css('color', 'white');
            $("#buttonForLeaveRequests").css('background-color', '#4A707A');
            $("#buttonForLeaveRequests").css('color', 'white');
            

        })

        $("#buttonForTenants").click(function(){
            $("#listOfLeaveRequestTableContainer").hide();
            $("#listOfReservationTableContainer").hide();
            $("#listOfTenantsTableContainer").show();
            $(this).css('background-color', 'white');
            $(this).css('color', '#4A707A');
            $("#buttonForReservations").css('background-color', '#4A707A');
            $("#buttonForReservations").css('color', 'white');
            $("#buttonForLeaveRequests").css('background-color', '#4A707A');
            $("#buttonForLeaveRequests").css('color', 'white');
        })


        $("#buttonForLeaveRequests").click(function(){
            $("#listOfTenantsTableContainer").hide();
            $("#listOfReservationTableContainer").hide();
            $("#listOfLeaveRequestTableContainer").show();
            $(this).css('background-color', 'white');
            $(this).css('color', '#4A707A');
            $("#buttonForReservations").css('background-color', '#4A707A');
            $("#buttonForReservations").css('color', 'white');
            $("#buttonForTenants").css('background-color', '#4A707A');
            $("#buttonForTenants").css('color', 'white');
        })

    
    })
</script>
<script>
    function myFunction(checkBoxID,inputID) {
        if ($('#'+checkBoxID).is(":checked")){
            $('#'+inputID).attr('type','text');
        }
        else{
            $('#'+inputID).attr('type','password');
        }
        
}
</script>


</html>