<!DOCTYPE html>
<html lang="en">

<head>
  <title>Panimalay</title>
  <link rel="shortcut icon" type="image/png" href="{{url_for('static',filename='panimalay-196x196.png')}}">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
</head>

<style>
  body {
    background-color: #94B0B7;
  }

  .navbar-dark .navbar-nav .nav-link {
    color: white;
    font-size: 1.7rem;
  }

  .card {
    border: none;
    margin-bottom: 24px;
    -webkit-box-shadow: 0 0 13px 0 rgba(236, 236, 241, .44);
    box-shadow: 0 0 13px 0 rgba(236, 236, 241, .44);
  }
</style>
<!--End of style-->

<body>
  <nav class="navbar navbar-dark">
    <div class="container">
      <a href="{{url_for('dashboard')}}" class="navbar-brand"
        style="font-family: Arial, Helvetica, sans-serif; font-size: 23px;"><strong><img
            src="{{url_for('static', filename = 'panimalay-114x114.png')}}" style="margin-left: -50%;">P A N I M A L A
          Y</strong></a>
      <ul class="navbar-nav" style="margin-right: -10%;">
        <a href="{{url_for('logout')}}" class="nav-link" style="font-size: 18px;">Logout <i
            class="fa fa-sign-out"></i></a>
      </ul>
    </div>
  </nav>
  <!--End of navbar-->


  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <div id="page-wrapper" class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Welcome {{accountInfo.4}} {{accountInfo.5}}!</h1>
         <!--Flash message-->
         <div id="flashMessage">
          {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
          {% for category,message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" id="closeFlashMessage" class="close" data-dismiss="alert"
                  aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          {% endfor %}
          {% endif %}
          {% endwith %}
        </div>
      <!--End of flash message-->
        <ol class="breadcrumb">
          <li class="active"><i class="fa fa-dashboard"></i> Dashboard</li>
        </ol>
      </div>
    </div>
  </div>
  <!--End of dashboard-->

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <div class="container">
    <div class="row" style="margin-left: 1%;margin-right: -8%;">
      <div class="col-xl-2 col-md-6">
        <div class="card bg-pattern">
          <div class="card-body">
            <div class="float-right">
              <i class="fa fa-user text-primary h4 ml-3"></i>
            </div>
            <a href="{{url_for('accountInfo')}}">
              <p class="text-muted mb-0">Account</p>
            </a>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-md-6">
        <div class="card bg-pattern">
          <div class="card-body">
            <div class="float-right">
              <i class="fa fa-credit-card text-primary h4 ml-3"></i>
            </div>
            <a href="{{url_for('managePayment')}}">
              <p class="text-muted mb-0">Payments</p>
            </a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="card bg-pattern">
          <div class="card-body">
            <div class="float-right">
              <i class="fa fa-pencil-square-o text-primary h4 ml-3"></i>
            </div>
            <a href="{{url_for('manageUnits')}}">
              <p class="text-muted mb-0">Manage Unit</p>
            </a>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-md-6">
        <div class="card bg-pattern">
          <div class="card-body">
            <div class="float-right">
              <i class="fa fa-users text-primary h4 ml-3"></i>
            </div>
            <a href="{{url_for('manageTenants')}}">
              <p class="text-muted mb-0">Tenants List</p>
            </a>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-md-6">
        <div class="card bg-pattern">
            <div class="card-body">
                <div class="float-right">
                    <i class="fa fa-lock text-primary h4 ml-3"></i>
                </div>
                <a href="{{url_for('ownerPrivacy')}}">
                    <p class="text-muted mb-0">Privacy</p>
                </a>
            </div>
        </div>
    </div>
    </div>
  </div>
  <!-- End of dashboard -->
</body>
<script>
  $(document).ready(function () {
    $('#closeFlashMessage').click(function () {
      $("#flashMessage").hide();
    })
  });
</script>

</html>